@import 'reset';

// some variables to use
$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$content-width: 65%;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

.content {
  max-width: $content-width;
  margin: 0 auto;
  text-align: center;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
  }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.box {
  @include border-radius(10px);
  border: 1px solid grey;
}

.message {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

.success {
  @extend .message;
  border-color: green;
}

.error {
  @extend .message;
  border-color: red;
}

.warning {
  @extend .message;
  border-color: yellow;
}

.center-stuff {
  text-align: center;
}

article {
  float: left;
  width: 600px / 960px * 100%;
  @extend .center-stuff;
}

aside {
  float: right;
  width: 300px / 960px * 100%;
  @extend .center-stuff;
}
